.detail-h1 {
    margin-bottom: 1rem;
}

/* Film-poster. */

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.movie-info {
    padding: 1rem;
    line-height: 1.6;
    max-width: 60ch;
    margin: 1rem auto;
}

#movie-poster {
    width: 100%;
    max-width: 300px;
    border: 4px solid black;
}

/* Har sett/inte sett-knapp. */

.container-info .button-container {
    margin: 0 auto 3rem auto;
}

.status {
    font-weight: bold;
    font-size: large;
    color: green;
    text-align: center;
    margin: -1rem auto 2rem auto;
}

/* Formulär. */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin: 0 0 2rem 0;
}

#form-h2 {
    text-align: center;
}

/* Recensionsformulär. */

.review-form {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 60ch;
}

/* Recensioner. */

#reviews-h2 {
    text-align: center;
}

.reviews-container {
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
}

.review-list {
    border: 4px solid #FFBD59;
    padding: 1rem;
    line-height: 1.6;
    max-width: 60ch;
}

/* Större skärmar: poster/info sida vid sida. */

@media (min-width: 900px) {
    .container-movie {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:start;
        margin: 2rem 0 3rem 0;
    }

    .movie-info {
        margin: 2rem auto 0 auto;
    }

    .button-container {
        width: 100%;
    }

    .container-info {
        min-width: 350px;
        max-width: 60ch;
    }

    .container-info .button-container {
        justify-content: left;
        margin: 0;
        padding: 1rem;
    }

    .status {
        text-align: left;
        margin: 1rem 0 2rem 1rem;
    }
}
