.container-reglog {
    margin: 0 auto;
    background-color: #0CC0DF;
    width: 90%;
    max-width: 372px;
    padding: 1rem;
}

/* Text om att registrera sig. */

.register {
    margin-top: 2rem;
    text-align: center;
}

.register-link {
    color: black;
}