footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #000000;
    padding: 1rem 2rem 1.5rem 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    font-family: "Darker Grotesque", Verdana, sans-serif;
}

/* Navigeringsmeny. */

.footer-menu {
    text-align: left;
    list-style-type: none;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.footer-menu .footer-link.active {
    background-color: transparent;
    color: #FFBD59;
}

#logout-footer {
    font-family: "Darker Grotesque", Verdana, sans-serif;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

/* Copyright-text. */

.copyright {
    font-size: 20px;
    color: white;
    font-weight: bold;
}