* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font för brödtext. */
root,
html {
    font-family: "Roboto";
}

main,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 3rem 1rem;
    font-family: "Darker Grotesque", Verdana, sans-serif;
}

/* Felmeddelande i formulär. */

.error-message {
    margin-top: 1rem;
    padding: 10px 5px;
    background-color: #ffffff;
    color: #ec0202;
    line-height: 1.5;
    border-radius: 5px;
}

.error {
    margin: 1rem auto;
    text-align: center;
    color: #ec0202;
    line-height: 1.5;
    border-radius: 5px;
}

/* Meddelande vid inhämtning av data. */
.message {
    margin: 1rem auto;
    text-align: center;
    line-height: 1.5;
    border-radius: 5px;
}

/* Knappar. */

.button-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
    max-width: 372px;
}

.button-container-tight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 372px;
    padding: 0.5rem 1rem;
}

.button {
    font-family: "Darker Grotesque", Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 35px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    max-width: 308px;
    margin: 0 auto;
}

#watched-button, #not-watched-button {
    margin: 0;
}

.blue-button {
    background-color: #0CC0DF;
}

.blue-button:hover {
    background-color: #78e8fc;
}

.yellow-button {
    background-color: #FFBD59;
}

.yellow-button:hover {
    background-color: #ffde59;
}

.red-button {
    background-color: #EC5353;
}

.red-button:hover {
    background-color: #ed7474;
}

/* Formulär. */

.login-form, 
.reg-form, 
.review-form {
    padding: 1rem;
    width: 100%;
}

.login-form input, 
.reg-form input, 
.review-form input, 
.review-form textarea,
.review-form select {
    width: 100%;
    margin-bottom: 1rem;
    height: 35px;
}

.login-form input:not(input[type="submit"]), 
.reg-form input:not(input[type="submit"]),
.review-form input,
.review-form select {
    padding-left: 10px;
}

.review-form textarea {
    font-family: "Roboto";
    padding: 5px 10px;
    height: 50px;
    resize: none;
}

/* Logga in-knapp. */

.login-form input[type="submit"], 
.reg-form input[type="submit"] {
    background-color: #FFBD59;
    border: none;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    font-family: "Darker Grotesque", Verdana, sans-serif;
}

.login-form input[type="submit"]:hover, .reg-form input[type="submit"]:hover {
    background-color: #ffde59;
    color: #000000;
    font-weight: bold;
}